body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg);
}


/* полоска в самом верху  */
.header_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    opacity: 0.7;
    align-items: center;
}
.headerButton {
    padding: 10px 60px;
    font-size: 20px;
    margin-left: 5px;
    font-style: italic;
    cursor: pointer;
}
.headerlogo {
    font-size: 40px;
    color: red;
    border: 2px solid red;
    font-family: Impact, serif;
    padding: 0 10px 0 10px;
}
a {
    color: red;
    text-decoration: none;
}


/* каруселька(фотки)  */
.flex-article{
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-top: 10px;
}
.mySlides img{
    width: 70%;
    margin-left: 15%;
    border-radius: 5%;
}


/* сама форма регистрации  */
.container {
    float: right;
    border-radius: 5%;
    background-color: white;
    opacity: 0.7;
    color: black;
    top: 10px;
    position: relative;
    width: 40%;
    margin-right:5%;
    padding: 5px;
}
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}
#signin {
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 0;
}


/* вывод ошибок  */
.error {
    background-color: red;
    border: 5px solid black;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    margin: 5px;
}
#errors {
    display: flex;
    justify-content: center;
}